.content {
  background-color: gray;
  width: 70%;
  border-radius: 1rem;
}

.content-timer {
  display: flex;
  justify-content: center;
}

.content-h,
.content-m,
.content-s {
  width: 100%;
}

.time {
  font-size: 110px;
  text-align: center;
  font-weight: 300;
  color: white;
}

span {
  font-size: 2rem;
  font-weight: 300;
  color: white;

}

.content-btn {
  text-align: center;
  font-size: 1.7rem;
}

.content-btn-action {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.move {
  animation: move_timer 1.3s infinite;
}

@keyframes move_timer {

  20%,
  50%,
  80% {
    transform: translateY(0px);
  }

  30% {
    transform: translateY(-45px);
  }

  60% {
    transform: translateY(-25px);
  }
}
