<section class="grid grid-cols-3 gap-4 mt-20 p-8 bg-blue-400 rounded-md mx-10" id="controls">
  <div class="col-span-1 justify-center items-center text-center" *ngFor="let item of lights">
    <div class="flex flex-col items-center">
      <span class="mt-2 text-black">{{item.title}}</span>
    </div>
    <button class="bg-black px-5 py-5 mt-5 text-l uppercase font-bold tracking-widest rounded-xl"
      [ngClass]="item.status ? 'bg-green-300 text-black' : 'bg-black text-white' "
      (click)="item.status ? sendLightOff(item.id) : sendLightOn(item.id)">{{item.status ? 'Encendido' : 'Apagado'}}</button>
  </div>
</section>

<!--<section class="flex justify-center align-items-center mt-2 mb-20" id="timer">
  <div class="content" [class.move]="animate">
    <div class="content-timer">
      <div class="content-h">
        <div class="time">{{ hours | number:'2.0'}} <span>h</span></div>
        <div class="content-btn" *ngIf="show">
          <button (click)="increment('H')"> + </button>
          <button (click)="decrement('H')"> - </button>
        </div>
      </div>
      <div class="content-m">
        <div class="time">{{ minutes | number:'2.0'}} <span>m</span></div>
        <div class="content-btn" *ngIf="show">
          <button (click)="increment('M')"> + </button>
          <button (click)="decrement('M')"> - </button>
        </div>
      </div>
      <div class="content-s">
        <div class="time">{{seconds | number:'2.0'}} <span>s</span></div>
        <div class="content-btn" *ngIf="show">
          <button (click)="increment('S')"> + </button>
          <button (click)="decrement('S')"> - </button>
        </div>
      </div>
    </div>
    <div class="content-btn-action">
      <button type="button" (click)="start()" [disabled]="disabled"> &#9658;</button>
      <button type="button" (click)="stop()">&#9724;</button>
      <button type="button" (click)="reset()">&#8635;</button>
    </div>
  </div>
</section>-->
<app-hora></app-hora>
