<div class="app-container bg-white mt-20">
  <div class="container mx-auto">
    <div class=" flex  mx-auto shadow-lg overflow-hidden">
      <div class="container__register">
        <h1 class="black text-3xl mb-3">BIENVENIDO</h1>
        <hr class="bg-white w-1/2">
      </div>
      <div class="w-full py-16 px-12 ">
        <h2 class="text-3xl border-bottom:1px solid black underline">Registrate</h2>

        <p class="mb-4">
          Crea tu cuenta.Es facil y rapido.
        </p>
        <form [formGroup]="fb" (ngSubmit)="onSubmit()" *ngIf="fb">
          <div class="grid grid-cols-2 gap-5">
            <input type="text" placeholder="Nombre" formControlName="name" class="border border-gray-400 py-1 px-2">
            <input type="text" placeholder="Apellido" formControlName="surname"
              class="border border-gray-400 py-1 px-2">
          </div>
          <div class="mt-5">
            <input type="text" placeholder="Email" formControlName="email"
              class="border border-gray-400 py-1 px-2 w-full">
          </div>
          <div class="mt-5">
            <input type="password" id="password" placeholder="Password" formControlName="password"
              class="border border-gray-400 py-1 px-2 w-full">
          </div>
          <div class="mt-5">
            <input type="password" id="confirmPassword" placeholder="Confirm Password"
              formControlName="confirm_password" class="border border-gray-400 py-1 px-2 w-full">
          </div>
          <div *ngIf="fb.hasError('passwordMismatch') && fb.touched" class="w-full px-4 bg-amber-200 rounded mt-4">
            Las contraseñas no coinciden
          </div>
          <div class="mt-5">
            <input type="checkbox" class="border-gray-400">
            <span>
              <a> Acepto los terminos y condiciones.</a>
            </span>
          </div>
          <div class="mt-5">
            <button class="w-full bg-orange-500 py-3 text-center disabled:bg-orange-50" type="submit"
              [disabled]="fb.invalid">Registrarse ahora</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-main-offers></app-main-offers>
